* {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: green;
	background-image: url("https://cbx-prod.b-cdn.net/COLOURBOX57035077.jpg?width=800&height=800&quality=70");
	text-align: center;
}
